<html>
<!-- TEST COMMENT, PLEASE IGNORE -->
    <head>
        <title>Drive the car!</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>

<body>
    <h1>Drive my car...</h1>
    <div id="latency-indicator"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>

<script>
    // Connect to the server on the car
    // const direction_socket_server = io('https://56ea4cc81769.ngrok.app');
    const direction_socket_server = io('http://127.0.0.1:5000');


    direction_socket_server.on('connect', function() {
      console.log('Connected to server 1');
    });

    direction_socket_server.on('disconnect', function() {
      document.getElementById('latency-indicator').innerText = `Disconnected from Server!`;
      console.log('Disconnected');
    });

    direction_socket_server.on('Server message', function(message) {
      console.log(message);
      if (message["Message"] == "Latency"){
        let latencyNumber = message["Data"]
        console.log("Control Latency: ", message["Data"], "ms")
        document.getElementById('latency-indicator').innerText = `Latency: ${latencyNumber}ms`;

      }
      if (message["Message"] == "Message"){
        console.log(message["Data"])
      }
    }); 

    setInterval(function(){
        let clientTime = new Date().getTime();
        direction_socket_server.emit('heartbeat', clientTime)
        // console.log("SENT A HEARTBEAT ", clientTime)
    }, 1000)

    function moveVehicle(direction) {
      direction_socket_server.emit('move_command', {data: direction})
      console.log("Move command!!!: ", direction)
      }

    document.addEventListener('keydown', (e) => {
      // One of the below two functions prevents repeated POST requests from going through
      if (e.repeat) return;

      if (event.defaultPrevented) {
          return;
      };
      switch (event.key){
          case "ArrowUp":
              moveVehicle("FORWARD")
              break;
          case "ArrowDown":
              moveVehicle("BACK")
              break;
          case "ArrowLeft":
              moveVehicle("LEFT")
              break;
          case "ArrowRight":
              moveVehicle("RIGHT")
              break;
          case "Spacebar":
              moveVehicle("STOP")
              break;
          default:
              return;
      }
        event.preventDefault();
    }, true);
  
    window.addEventListener('keyup', function (event) {
        if (event.defaultPrevented) {
            return;
        };
        moveVehicle("STOP")

        event.preventDefault();
    }, true)
  
  </script>
</script>
</body>

</html>