<html>

    <head>
        <title>Drive the car!</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>

<body>

    <h1>Drive my car...</h1>
    <video id = 'localvideo' autoplay playsinline></video>
    <video id = 'remotevideo' autoplay playsinline></video>

    <!-- <div>
        <button id = 'startButton'>Start</button>
        <button id = 'callButton'>Call</button>
        <button id = 'hangupButton'>Hang Up</button>
    </div> -->


    <form action="/" method="post">
        <button name = "direction" value="FORWARD">Forward</button>
    </form>
    <form action="/" method="post">
        <button name = "direction" value="BACK">Back</button>
    </form>
    <form action="/" method="post">
        <button name = "direction" value="LEFT">Left</button>
    </form>
    <form action="/" method="post">
        <button name = "direction" value="RIGHT">Right</button>
    </form>
    
    <button type="button" onclick="moveForward()">Second Forward!</button>

    <script>
        function moveForward() {
            var httpRequest = new XMLHttpRequest();
            httpRequest.open("POST", "http://127.0.0.1:5000/", true);
            httpRequest.send("direction=FORWARD")
        }
    </script>

</body>

</html>