<html>
<!-- TEST COMMENT, PLEASE IGNORE -->
    <head>
        <title>Drive the car!</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>

<body>
    <h1>Drive my car...</h1>

<button type="button" onclick="moveVehicle('FORWARD')">Move Forward</button>
<button type="button" onclick="moveVehicle('BACK')">Move Back</button>
<button type="button" onclick="moveVehicle('LEFT')">Move Left</button>
<button type="button" onclick="moveVehicle('RIGHT')">Move Right</button>

<script>
    const website = "https://77db-71-125-233-231.ngrok.io"
    // The direction comes in from each button
    function moveVehicle(direction) {
        var httpRequest = new XMLHttpRequest(),
        FD = new FormData();
        FD.append("direction", direction)
        // What to do with where to send the data?
        httpRequest.open("POST", website, true);
        httpRequest.send(FD)
    }

    window.addEventListener('keydown', (e) => {
        if (event.defaultPrevented) {
            return;
        };

        switch (event.key){
            case "ArrowUp":
                moveVehicle("FORWARD")
                break;
            case "ArrowDown":
                moveVehicle("BACK")
                break;
            case "ArrowLeft":
                moveVehicle("LEFT")
                break;
            case "ArrowRight":
                moveVehicle("RIGHT")
                break;
        }
        event.preventDefault();
    }, true);

    document.addEventListener('keyup', (e) => {
        moveVehicle("STOP")
    })

</script>
</body>

</html>